# OS files
.DS_Store

# VSCode 
.vscode/*

# Python
.pytest_cache/*

# Virtual environments
env/*

# Folders
_old_image_scraper/*
images/*
debug_files/*
drivers/*
image_scraper/__pycache__/*

# Files
*image_urls.txt
*.html
TODO.md
image_scraper/test.py